/* Top btn */
@media screen and (max-width: 740px) {
    .top_btn_sec {
        left: 804%;
    }
}

/* Navbar res */
@media screen and (max-width: 600px) {
    .tab {
        display: block;
    }

    .links {
        border-top: 1px solid black;
        position: absolute;
        top: 34px;
        left: -100%;
        background-color: lavender;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        transition: 0.5s ease-in;
    }

    .tab-links {
        display: block;
    }

    #open,
    #close {
        transition: 0.4s ease;
    }
}

/* Home Section */
@media screen and (max-width: 800px) {

    .intro_txt,
    .profile {
        width: 50%;
    }
}

@media screen and (max-width: 680px) {
    .home_sec {
        flex-direction: column-reverse;
    }

    .profile {
        width: 100%;
        margin: auto;
    }

    .profile_pic {
        width: 50%;
    }

    .intro_txt {
        width: 100%;
        margin: auto;
    }

    .intro_txt h1,
    p {
        text-align: center;
    }

    #click_about {
        margin: 1rem auto;
    }

    .intro_links {
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    .profile_pic {
        width: 60%;
    }
}

/* about section */
@media (max-width: 768px) {
    .profile-pic {
        flex: 1 1 100%;
        padding: 20px;
    }

    .about-text {
        flex: 1 1 100%;
    }
}

/* Skills section */
@media screen and (max-width: 800px) {
    .cen2 {
        flex-direction: column;
        width: 72%;
    }

    .show_projects {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .show_projects {
        width: 80%;
    }
}

/* Resume sec */
@media (max-width: 768px) {
    .left-side, .right-side {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    
    .left-side {
        padding-bottom: 0;
    }
    
    .right-side {
        padding-top: 0;
    }

    .resume_head, .resume_p {
        text-align: center;
        padding: 4px 0px;
    }
}

@media (max-width: 480px) {
    .left-side, .right-side {
        padding: 8px;
    }
}


/* footer section */
@media screen and (max-width: 660px) {
    .footer_sec {
        flex-direction: column;
        gap: 14px;
    }

    .page_links, .contact_sec {
        margin: auto;
    }
}